.menu {
    background:none;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;
    width: 200px;
    text-align: center;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;
    list-style: none;
    background: black;
    padding: 10px;


    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    /*border-left: 3px solid #454545;*/
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}








/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.menu li:hover .submenu li:nth-child(9) {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -ms-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}
.menu li:hover .submenu li:nth-child(10) {
    -webkit-transition-delay: 450ms;
    -moz-transition-delay: 450ms;
    -ms-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    transition-delay: 450ms;
}
.menu li:hover .submenu li:nth-child(11) {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
.menu li:hover .submenu li:nth-child(12) {
    -webkit-transition-delay: 550ms;
    -moz-transition-delay: 550ms;
    -ms-transition-delay: 550ms;
    -o-transition-delay: 550ms;
    transition-delay: 550ms;
}
.menu li:hover .submenu li:nth-child(13) {
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}
.menu li:hover .submenu li:nth-child(14) {
    -webkit-transition-delay: 650ms;
    -moz-transition-delay: 650ms;
    -ms-transition-delay: 650ms;
    -o-transition-delay: 650ms;
    transition-delay: 650ms;
}
.menu li:hover .submenu li:nth-child(15) {
    -webkit-transition-delay: 700ms;
    -moz-transition-delay: 700ms;
    -ms-transition-delay: 700ms;
    -o-transition-delay: 700ms;
    transition-delay: 700ms;
}
.menu li:hover .submenu li:nth-child(16) {
    -webkit-transition-delay: 750ms;
    -moz-transition-delay: 750ms;
    -ms-transition-delay: 750ms;
    -o-transition-delay: 750ms;
    transition-delay: 750ms;
}
.menu li:hover .submenu li:nth-child(17) {
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -ms-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms;
}
.menu li:hover .submenu li:nth-child(18) {
    -webkit-transition-delay: 850ms;
    -moz-transition-delay: 850ms;
    -ms-transition-delay: 850ms;
    -o-transition-delay: 850ms;
    transition-delay: 850ms;
}
.menu li:hover .submenu li:nth-child(19) {
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}
.menu li:hover .submenu li:nth-child(20) {
    -webkit-transition-delay: 950ms;
    -moz-transition-delay: 950ms;
    -ms-transition-delay: 950ms;
    -o-transition-delay: 950ms;
    transition-delay: 950ms;
}
.menu li:hover .submenu li:nth-child(21) {
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}
.menu li:hover .submenu li:nth-child(22) {
    -webkit-transition-delay: 1050ms;
    -moz-transition-delay: 1050ms;
    -ms-transition-delay: 1050ms;
    -o-transition-delay: 1050ms;
    transition-delay: 1050ms;
}
.menu li:hover .submenu li:nth-child(23) {
    -webkit-transition-delay: 1100ms;
    -moz-transition-delay: 1100ms;
    -ms-transition-delay: 1100ms;
    -o-transition-delay: 1100ms;
    transition-delay: 1100ms;
}
.menu li:hover .submenu li:nth-child(24) {
    -webkit-transition-delay: 1150ms;
    -moz-transition-delay: 1150ms;
    -ms-transition-delay: 1150ms;
    -o-transition-delay: 1150ms;
    transition-delay: 1150ms;
}








/*Exiting*/

.submenu li:nth-child(24) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.submenu li:nth-child(23) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(22) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(21) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(20) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(19) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(18) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(17) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(16) {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -ms-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}
.submenu li:nth-child(15) {
    -webkit-transition-delay: 450ms;
    -moz-transition-delay: 450ms;
    -ms-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    transition-delay: 450ms;
}
.submenu li:nth-child(14) {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
.submenu li:nth-child(13) {
    -webkit-transition-delay: 550ms;
    -moz-transition-delay: 550ms;
    -ms-transition-delay: 550ms;
    -o-transition-delay: 550ms;
    transition-delay: 550ms;
}
.submenu li:nth-child(12) {
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}
.submenu li:nth-child(11) {
    -webkit-transition-delay: 650ms;
    -moz-transition-delay: 650ms;
    -ms-transition-delay: 650ms;
    -o-transition-delay: 650ms;
    transition-delay: 650ms;
}
.submenu li:nth-child(10) {
    -webkit-transition-delay: 700ms;
    -moz-transition-delay: 700ms;
    -ms-transition-delay: 700ms;
    -o-transition-delay: 700ms;
    transition-delay: 700ms;
}
.submenu li:nth-child(9) {
    -webkit-transition-delay: 750ms;
    -moz-transition-delay: 750ms;
    -ms-transition-delay: 750ms;
    -o-transition-delay: 750ms;
    transition-delay: 750ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -ms-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 850ms;
    -moz-transition-delay: 850ms;
    -ms-transition-delay: 850ms;
    -o-transition-delay: 850ms;
    transition-delay: 850ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 950ms;
    -moz-transition-delay: 950ms;
    -ms-transition-delay: 950ms;
    -o-transition-delay: 950ms;
    transition-delay: 950ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 1050ms;
    -moz-transition-delay: 1050ms;
    -ms-transition-delay: 1050ms;
    -o-transition-delay: 1050ms;
    transition-delay: 1050ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 1100ms;
    -moz-transition-delay: 1100ms;
    -ms-transition-delay: 1100ms;
    -o-transition-delay: 1100ms;
    transition-delay: 1100ms;
}
.submenu li:nth-child(1) {
    -webkit-transition-delay: 1150ms;
    -moz-transition-delay: 1150ms;
    -ms-transition-delay: 1150ms;
    -o-transition-delay: 1150ms;
    transition-delay: 1150ms;
}

